.add-scan{
    width: 20%;
    margin-bottom: 10px;
    float: left;
    text-align: right;
}
.error{
    color:red;
}
.add-btn{
    background: transparent;
    box-shadow: none;
    border: 2px solid #fcff4d;
    color: #fcff4d;
    padding: 8px;
}
.add-btn:hover{
    background: #fcff4d;
    color:#1b799f;
}