.Header {
    margin: 20px 20px 20px 0px;
    max-width: 600px;
    font-size: calc(10px + 1.5vmin);
    text-align: left;
    padding-left: 5px;
}

.ScanList {
    font-size: calc(10px + 1vmin);
    width: 100%;
    float: left;
    border-style: solid;
}

.ScanListItem {
    padding: 1%;
    text-align: left;
    width:98%;
    float: left;
    border-bottom: 1px solid white;
}


.UserName {
    padding: 1%px;
    padding-left: 0px;  
    font-size: calc(10px + 0.5vmin);
    width: 95%;
    float: left;
}
 
h2{
    margin: 0px;
}

h3{
    margin:0px;
}


